<section class="banner">
    <div class="banner-wrapper">
        <div class="banner-bg ibg">
            <img src="img/banner/item1.jpg" alt="">
        </div>
        <div class="container">
            <div class="banner-inner">
                <div class="banner-inner__logo">
                    <img src="img/logo.png" alt="">
                </div>
                <h1 class="banner-inner__title">
                    Checkout
                </h1>
                <div class="banner-inner__breadcrumbs banner-breadcrumbs">
                    <a href="index.html">Home</a> <span>Checkout</span>
                </div>
            </div>
        </div>
    </div>
</section>