/*=============== Ibg ====================================================================================================================================================================*/

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    display: none;
}

/*=============== /Ibg ====================================================================================================================================================================*/
