<section class="contact">
    <div class="contact-wrapper">
        <div class="container">
            <div class="contact-inner">
                <div class="contact-content">
                    <h2 class="contact-content__title">
                        Get In Touch With Us
                    </h2>
                    <div class="contact-content__text">
                        <p>For More Information About Our Product & Services. Please Feel Free To Drop Us An Email. Our Staff Always Be There To Help You Out. Do Not Hesitate!</p>
                    </div>
                </div>
                <div class="contact-block">
                    <div class="contact-block__info contact-info">
                        <ul class="contact-info__list">
                            <li class="contact-info__item contact-item">
                                <div class="contact-item__image">
                                    <img src="img/map.svg" alt="">
                                </div>
                                <div class="contact-item__content">
                                    <h4 class="contact-item__heading">
                                        Address
                                    </h4>
                                    <div class="contact-item__text">
                                        <p>236 5th SE Avenue, New York NY10000, United States</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact-info__item contact-item">
                                <div class="contact-item__image">
                                    <img src="img/tel.svg" alt="">
                                </div>
                                <div class="contact-item__content">
                                    <h4 class="contact-item__heading">
                                        Phone
                                    </h4>
                                    <div class="contact-item__text">
                                        <p>Mobile: <a href="tel:+845466789">+(84) 546-6789</a></p>
                                        <p>Hotline: <a href="tel:+844566789">+(84) 456-6789</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact-info__item contact-item">
                                <div class="contact-item__image">
                                    <img src="img/clock.svg" alt="">
                                </div>
                                <div class="contact-item__content">
                                    <h4 class="contact-item__heading">
                                        Working Time
                                    </h4>
                                    <div class="contact-item__text">
                                        <p>Monday-Friday: 9:00 - 22:00</p>
                                        <p>Saturday-Sunday: 9:00 - 21:00</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <form action="#" method="post" class="contact-block__form contact-form">
                        <div class="row">
                            <div class="block">
                                <label for="name">Your name</label>
                                <input type="text" name="name" id="name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="block">
                                <label for="email">Email address</label>
                                <input type="text" name="email" id="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="block">
                                <label for="subject">Subject</label>
                                <input type="text" name="subject" id="subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="block">
                                <label for="message">Message</label>
                                <textarea name="message" id="message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="block">
                                <button type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>