<section class="about">
    <div class="about-wrapper">
        <div class="container">
            <div class="about-inner">
                <div class="about-inner__content about-content">
                    <p>
                        Meubel House was founded on the simple idea of bringing sustainably sourced,
                        meticulously crafted, impeccably designed, and built-to-last luxury furniture to your
                        home. At Meubel House, we believe in designing and crafting intuitively iconic pieces of furniture that exude luxury elegance and effortless comfort. We conceptualize and design every piece to be rich in detail, high in comfort, and best in functionality. From visual interest to texture, to shape to the minute tailored details, we meticulously craft our collection of living, dining, and outdoor furniture to become a point of pride at your home.
                    </p>
                    <p>
                        At the heart of Meubel House is our dedicated and skilled team of artisans and
                        craftsmen that we have carefully chosen to work with us and their deep appreciation for the maker’s touch. And we go the extra mile to achieve excellence, thanks to their craftsmanship and several decades of experience behind them.
                        With hand-selection of premium materials considering their texture, uniqueness,
                        and longevity, coupled with a thoughtful selection of tones and designs, we ensure the quality of our pieces is bespoke without forgetting to highlight the inherent
                        beauty of materials.
                    </p>
                    <p>
                        Further, our founders’ passion for environment and adventure takes them across
                        Asia to handpick unique pieces in the most unexpected places. From vintage markets to mountainous villages, nowhere is off-limits for finding pieces of furniture that align with Meubel House’s standards.
                    </p>
                    <p>
                        Bringing that impeccable sense of style and design to your purchase experience, we are situated in a secluded yet stunning location, surrounded by the tranquility of lush green nature in the quietness of Gower Street in the heart of Colombo. Our
                        showroom is stylishly designed to browse our collections of living, dining, and
                        outdoor furniture, and accessories, while experiencing homely luxury.
                        The blissful quietness of the surroundings, calming sight of lush greens, and the
                        heavenly coziness of our stylish furniture, complemented by our friendly staff, who
                        will assist you with choosing, purchasing, and delivering, is a comforting experience in itself.
                    </p>
                    <p>And we invite you to walk into our sanctuary of design and craftsmanship to discover furniture that will make your house feel like home.</p>
                </div>
                <div class="about-inner__address about-address">
                    <ul class="about-address__list">
                        <li class="about-address__item about-item">
                            <div class="about-item__image">
                                <img src="img/map.svg" alt="">
                            </div>
                            <div class="about-item__content">
                                <h4 class="about-item__heading">
                                    Address
                                </h4>
                                <div class="about-item__text">
                                    <p>236 5th SE Avenue, New York NY10000, United States</p>
                                </div>
                            </div>
                        </li>
                        <li class="about-address__item about-item">
                            <div class="about-item__image">
                                <img src="img/tel.svg" alt="">
                            </div>
                            <div class="about-item__content">
                                <h4 class="about-item__heading">
                                    Phone
                                </h4>
                                <div class="about-item__text">
                                    <p>Mobile: <a href="tel:+845466789">+(84) 546-6789</a></p>
                                    <p>Hotline: <a href="tel:+844566789">+(84) 456-6789</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="about-address__item about-item">
                            <div class="about-item__image">
                                <img src="img/clock.svg" alt="">
                            </div>
                            <div class="about-item__content">
                                <h4 class="about-item__heading">
                                    Working Time
                                </h4>
                                <div class="about-item__text">
                                    <p>Monday-Friday: 9:00 - 22:00</p>
                                    <p>Saturday-Sunday: 9:00 - 21:00</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>