//=============== Options ====================================================================================================================================================================

$maxWidth: 1440;
$maxWidthContainer: 1240;
$padding: 15;

//=============== /Options ====================================================================================================================================================================

//=============== Breakpoints ====================================================================================================================================================================

$break_container: $maxWidthContainer + $padding * 2 - 0.02px;
$break_1440: 1439.98px;
$break_1200: 1199.98px;
$break_1024: 1023.98px;
$break_992: 991.98px;
$break_880: 879.98px;
$break_768: 767.98px;
$break_600: 599.98px;
$break_480: 479.98px;
$break_360: 359.98px;

//=============== /Breakpoints ====================================================================================================================================================================
