<section class="cart">
    <div class="cart-wrapper">
        <div class="container">
            <div class="cart-inner">
                <div class="cart-table-wrapper">
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart-item">
                                <td class="cart-item__image">
                                    <img src="img/item/item1.png" alt="">
                                </td>
                                <td class="cart-item__name">
                                    Asgaard sofa
                                </td>
                                <td class="cart-item__price">
                                    Rs. 250,000.00
                                </td>
                                <td class="cart-item__quantity">
                                    <input type="number" min="0" value="1">
                                </td>
                                <td class="cart-item__subtotal">
                                    Rs. 250,000.00
                                </td>
                                <td class="cart-item__remove">
                                    <button><img src="img/clear.svg" alt=""></button>
                                </td>
                            </tr>
                            <tr class="cart-item">
                                <td class="cart-item__image">
                                    <img src="img/item/item2.png" alt="">
                                </td>
                                <td class="cart-item__name">
                                    Outdoor sofa set
                                </td>
                                <td class="cart-item__price">
                                    Rs. 244,000.00
                                </td>
                                <td class="cart-item__quantity">
                                    <input type="number" min="0" value="1">
                                </td>
                                <td class="cart-item__subtotal">
                                    Rs. 244,000.00
                                </td>
                                <td class="cart-item__remove">
                                    <button><img src="img/clear.svg" alt=""></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart-bill">
                    <h3 class="cart-bill__title">
                        Cart Totals
                    </h3>
                    <div class="cart-bill__container">
                        <div class="cart-bill__subtotal">
                            Subtotal
                            <span>Rs. 250,000.00</span>
                        </div>
                        <div class="cart-bill__total">
                            Total
                            <span>Rs. 250,000.00</span>
                        </div>
                    </div>
                    <div class="cart-bill__button-wrapper">
                        <a href="checkout.html" class="cart-bill__button">
                            Check Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>