<section class="auth">
    <div class="auth-wrapper">
        <div class="container">
            <div class="auth-inner">
                <form action="#" method="post" class="auth-inner__form auth-form">
                    <h3 class="auth-form__title">
                        Log In
                    </h3>
                    <div class="row">
                        <div class="block">
                            <label for="login">Username or email address</label>
                            <input type="text" id="login" name="login">
                        </div>
                    </div>
                    <div class="row">
                        <div class="block">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="block block-row">
                            <input type="checkbox" id="remember" name="remember">
                            <label for="remember">Remember me</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="block block-row">
                            <button type="submit">Log In</button>
                            <a href="#">Lost Your Password</a>
                        </div>
                    </div>
                </form>
                <form action="#" method="post" class="auth-inner__form auth-form">
                    <h3 class="auth-form__title">
                        Register
                    </h3>
                    <div class="row">
                        <div class="block">
                            <label for="register">Email address</label>
                            <input type="text" id="register" name="register">
                        </div>
                    </div>
                    <div class="row">
                        <div class="block">
                            <p>A link to set a new password will be sent to your email address.</p>
                            <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <b>privacy policy</b>.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="block">
                            <button type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>