<section class="post-header">
    <div class="post-header__wrapper">
        <div class="container">
            <div class="post-header__inner">
                <h1 class="post-header__title">
                    Going all-in with millennial design
                </h1>
                <div class="post-header__breadcrumbs">
                    <a href="index.html">Home</a> <a href="blog.html">Blog</a> <span>Going all-in with millennial design</span>
                </div>
            </div>
        </div>
    </div>
</section>