<section class="item">
    <div class="item-wrapper">
        <div class="item-product">
            <div class="container">
                <div class="item-product__breadcrumbs item-breadcrumbs">
                    <a href="index.html">Home</a> <a href="shop.html">Shop</a> <span>Asgaard sofa</span>
                </div>
                <div class="item-product__inner">
                    <div class="item-product__view item-view">
                        <ul class="item-view__list">
                            <li class="item-view__item">
                                <button>
                                    <img src="img/item/item2.png" alt="">
                                </button>
                            </li>
                            <li class="item-view__item">
                                <button>
                                    <img src="img/item/item3.png" alt="">
                                </button>
                            </li>
                            <li class="item-view__item">
                                <button>
                                    <img src="img/item/item4.png" alt="">
                                </button>
                            </li>
                            <li class="item-view__item">
                                <button>
                                    <img src="img/item/item5.png" alt="">
                                </button>
                            </li>
                        </ul>
                        <div class="item-view__image">
                            <img src="img/item/item1.png" alt="">
                        </div>
                    </div>
                    <div class="item-product__about item-about">
                        <div class="item-about__heading">
                            <h1>Asgaard sofa</h1>
                            <button>
                                <svg viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.83333 1C3.61217 1 1 3.58533 1 6.775C1 9.34983 2.02083 15.4608 12.0693 21.6383C12.2493 21.7479 12.456 21.8058 12.6667 21.8058C12.8774 21.8058 13.084 21.7479 13.264 21.6383C23.3125 15.4608 24.3333 9.34983 24.3333 6.775C24.3333 3.58533 21.7212 1 18.5 1C15.2788 1 12.6667 4.5 12.6667 4.5C12.6667 4.5 10.0545 1 6.83333 1Z" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="item-about__price">
                            <p>Rs. 250,000.00</p>
                        </div>
                        <div class="item-about__rating">
                            <div class="item-about__score">
                                <span class="star checked"></span>
                                <span class="star checked"></span>
                                <span class="star checked"></span>
                                <span class="star checked"></span>
                                <span class="star"></span>
                            </div>
                            <div class="item-about__review">
                                5 Customer Review
                            </div>
                        </div>
                        <div class="item-about__text">
                            <p>
                                Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound.
                            </p>
                        </div>
                        <div class="item-about__size item-size">
                            <div class="item-size__title">
                                Size
                            </div>
                            <ul class="item-size__list">
                                <li class="item-size__item _active">
                                    <button>L</button>
                                </li>
                                <li class="item-size__item">
                                    <button>XL</button>
                                </li>
                                <li class="item-size__item">
                                    <button>XS</button>
                                </li>
                            </ul>
                        </div>
                        <div class="item-about__color item-color">
                            <div class="item-color__title">
                                Color
                            </div>
                            <ul class="item-color__list">
                                <li class="item-color__item _active">
                                    <button data-color="#816DFA"></button>
                                </li>
                                <li class="item-color__item">
                                    <button data-color="#000000"></button>
                                </li>
                                <li class="item-color__item">
                                    <button data-color="#CDBA7B"></button>
                                </li>
                            </ul>
                        </div>
                        <div class="item-about__buttons">
                            <div class="item-about__count item-count">
                                <button class="decr">-</button>
                                <div class="out">1</div>
                                <button class="incr">+</button>
                            </div>
                            <div class="item-about__button-wrapper">
                                <a href="#" class="item-about__button">
                                    Add To Cart
                                </a>
                            </div>
                        </div>
                        <table class="item-about__details item-details">
                            <tr>
                                <td>SKU</td>
                                <td>: SS001</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>: Sofas</td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td>: Sofa, Chair, Home, Shop</td>
                            </tr>
                            <tr>
                                <td>Share</td>
                                <td>:
                                    <span class="share">
                                        <a href="#"><img src="img/facebook.svg" alt=""></a>
                                        <a href="#"><img src="img/linkedin.svg" alt=""></a>
                                        <a href="#"><img src="img/twitter.svg" alt=""></a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-feature">
            <div class="container">
                <div class="item-feature__inner">
                    <div class="item-feature__links">
                        <div class="item-feature__link _active">
                            <a href="#description">
                                Description
                            </a>
                        </div>
                        <div class="item-feature__link">
                            <a href="#additional">
                                Additional Information
                            </a>
                        </div>
                        <div class="item-feature__link">
                            <a href="#reviews">
                                Reviews [2]
                            </a>
                        </div>
                    </div>
                    <div class="item-feature__sections">
                        <div class="item-feature__section" data-id="#description">
                            <p>Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo speaker takes the unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the road.</p>
                            <p>Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences while the guitar-influenced leather strap enables easy and stylish travel.</p>
                            <img src="img/item/item6.jpg" alt="">
                            <img src="img/item/item7.jpg" alt="">
                        </div>
                        <div class="item-feature__section" data-id="#additional">
                            <h2>Additional Information</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellendus quas pariatur similique repudiandae. Nesciunt dicta illum doloremque. Unde natus magni animi velit fugiat doloremque incidunt voluptatum, blanditiis optio quibusdam.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo iste esse placeat minus quam odio quisquam cum! Reiciendis deserunt accusantium modi fugit atque inventore perferendis dolores dolorum, minima rerum sit ex labore mollitia praesentium, neque maxime! Numquam earum vero porro voluptas sequi totam, molestiae vel quisquam aut ducimus voluptates? Tenetur ullam neque voluptatibus voluptate quaerat. Voluptas, esse aut autem nemo natus, tempore totam dolorum reiciendis sit fuga magni tenetur. Esse, nulla voluptas, corrupti aut et ducimus harum laborum ab excepturi corporis laboriosam fugiat suscipit maxime perferendis aliquam ratione incidunt. Ullam minima omnis ratione modi enim inventore a, quis illum quos.</p>
                        </div>
                        <div class="item-feature__section" data-id="#reviews">
                            <h2>Reviews</h2>
                            <div>
                                <h3>Review 1</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nihil perspiciatis ullam dolorum earum molestiae et aliquid veritatis autem, consequatur impedit saepe dolorem cum voluptate. Autem atque ipsam deleniti provident?</p>
                            </div>
                            <div>
                                <h3>Review 2</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis doloremque, fugit quam sit asperiores incidunt illo minus a ducimus harum, quos culpa debitis at quo atque rerum suscipit earum est.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>