<section class="related">
    <div class="related-wrapper">
        <div class="container">
            <div class="related-inner">
                <h2 class="related-inner__title">
                    Related Products
                </h2>
                <ul class="related-inner__list related-list">
                    <li class="related-list__item related-item">
                        <div class="related-item__wrapper">
                            <div class="related-item__image">
                                <a href="product.html">
                                    <img src="./img/picks/item1.png" alt="">
                                </a>
                            </div>
                            <h4 class="related-item__heading">
                                <a href="product.html">
                                    Trenton modular sofa_3
                                </a>
                            </h4>
                            <div class="related-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                    <li class="related-list__item related-item">
                        <div class="related-item__wrapper">
                            <div class="related-item__image">
                                <a href="product.html">
                                    <img src="./img/picks/item2.png" alt="">
                                </a>
                            </div>
                            <h4 class="related-item__heading">
                                <a href="product.html">
                                    Granite dining table with dining chair
                                </a>
                            </h4>
                            <div class="related-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                    <li class="related-list__item related-item">
                        <div class="related-item__wrapper">
                            <div class="related-item__image">
                                <a href="product.html">
                                    <img src="./img/picks/item3.png" alt="">
                                </a>
                            </div>
                            <h4 class="related-item__heading">
                                <a href="product.html">
                                    Outdoor bar table and stool
                                </a>
                            </h4>
                            <div class="related-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                    <li class="related-list__item related-item">
                        <div class="related-item__wrapper">
                            <div class="related-item__image">
                                <a href="product.html">
                                    <img src="./img/picks/item4.png" alt="">
                                </a>
                            </div>
                            <h4 class="related-item__heading">
                                <a href="product.html">
                                    Plain console with teak mirror
                                </a>
                            </h4>
                            <div class="related-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="related-inner__button-wrapper">
                    <a href="shop.html" class="related-inner__button">
                        View More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>