/*=============== Item ====================================================================================================================================================================*/

.item-inner {
    // .item-inner__row

    &__row {
    }

    // .item-inner__view

    &__view {
        max-width: 400px;
        width: 100%;
        aspect-ratio: 1;
        float: left;
    }

    // .item-inner__content

    &__content {
    }
}

/*=============== /Item ====================================================================================================================================================================*/
