/*=============== Related ====================================================================================================================================================================*/

.related {
    background-color: #fff;
}
.related-wrapper {
    padding: 50px 0 40px 0;
    margin-top: 50px;
    border-top: 1px solid #d9d9d9;

    @media (max-width: $break_768) {
        padding: 40px 0 30px 0;
    }
}
.related-inner {
    // .related-inner__title

    &__title {
        text-align: center;
        color: #000;
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 80px;

        @media (max-width: $break_768) {
            font-size: 30px;
            margin-bottom: 60px;
        }
    }

    // .related-inner__button-wrapper

    &__button-wrapper {
        text-align: center;
        margin: -15px;
    }

    &__button {
        position: relative;
        display: inline-block;
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        padding: 15px;
        transition: transform 0.3s ease 0s;

        @media (max-width: $break_992) {
            font-size: 22px;
        }
        @media (max-width: $break_768) {
            font-size: 20px;
        }

        &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #000;
            pointer-events: none;
            transition: width 0.3s ease 0s;
        }

        &:hover {
            transform: scale(1.05);
            &:before {
                left: 0;
                width: 100%;
            }
        }

        &:active {
            transform: scale(0.95);
        }
    }
}
.related-list {
    padding: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: -30px;
    margin-bottom: 40px;

    @media (max-width: $break_768) {
        margin-bottom: 20px;
    }
}
.related-item {
    list-style-type: none;
    flex: 0 1 25%;

    @media (max-width: $break_992) {
        flex: 0 1 33.333%;
    }

    @media (max-width: $break_768) {
        flex: 0 1 50%;
    }

    @media (max-width: $break_600) {
        flex: 0 1 100%;
    }

    padding: 30px;

    // .related-item__wrapper

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    // .related-item__image

    &__image {
        flex: 1 1 auto;
        align-self: center;
        margin-bottom: 10px;
        img {
            max-width: 250px;
            width: 100%;
            max-height: 180px;
            @media (max-width: $break_992) {
                max-width: 100%;
                max-height: 200px;
            }
        }
    }

    // .related-item__heading

    &__heading {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

    // .related-item__text

    &__text {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
    }
}

/*=============== /Related ====================================================================================================================================================================*/
