<section class="blog">
    <div class="blog-wrapper">
        <div class="blog-inner">
            <ul class="blog-inner__list blog-list">
                <li class="blog-list__item blog-item">
                    <div class="blog-item__view">
                        <div class="blog-item__image">
                            <a href="#" class="ibg">
                                <img src="img/blog/item1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-item__links">
                            <a href="#" class="blog-item__link">
                                <img src="img/admin.svg" alt="">
                                Admin
                            </a>
                            <a href="#" class="blog-item__link">
                                <img src="img/calendar.svg" alt="">
                                14 Oct 2022
                            </a>
                            <a href="#" class="blog-item__link">
                                <img src="img/tag.svg" alt="">
                                Wood
                            </a>
                        </div>
                    </div>
                    <div class="blog-item__content">
                        <h2 class="blog-item__heading">
                            Going all-in with millennial design
                        </h2>
                        <div class="blog-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero enim sed faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis nunc sed blandit libero. Pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra et ultrices neque ornare aenean euismod elementum.</p>
                        </div>
                        <div class="blog-item__button-wrapper">
                            <a href="#" class="blog-item__button">
                                Read more
                            </a>
                        </div>
                    </div>
                </li>
                <li class="blog-list__item blog-item">
                    <div class="blog-item__view">
                        <div class="blog-item__image">
                            <a href="#" class="ibg">
                                <img src="img/blog/item2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-item__links">
                            <div class="blog-item__link">
                                <a href="#" class="blog-item__link">
                                    <img src="img/admin.svg" alt="">
                                    Admin
                                </a>
                            </div>
                            <div class="blog-item__link">
                                <a href="#" class="blog-item__link">
                                    <img src="img/calendar.svg" alt="">
                                    14 Oct 2022
                                </a>
                            </div>
                            <div class="blog-item__link">
                                <a href="#" class="blog-item__link">
                                    <img src="img/tag.svg" alt="">
                                    Handmade
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item__content">
                        <h2 class="blog-item__heading">
                            Exploring new ways of decorating
                        </h2>
                        <div class="blog-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero enim sed faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis nunc sed blandit libero. Pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra et ultrices neque ornare aenean euismod elementum.</p>
                        </div>
                        <div class="blog-item__button-wrapper">
                            <a href="#" class="blog-item__button">
                                Read more
                            </a>
                        </div>
                    </div>
                </li>
                <li class="blog-list__item blog-item">
                    <div class="blog-item__view">
                        <div class="blog-item__image">
                            <a href="#" class="ibg">
                                <img src="img/blog/item3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-item__links">
                            <div class="blog-item__link">
                                <a href="#" class="blog-item__link">
                                    <img src="img/admin.svg" alt="">
                                    Admin
                                </a>
                            </div>
                            <div class="blog-item__link">
                                <a href="#" class="blog-item__link">
                                    <img src="img/calendar.svg" alt="">
                                    14 Oct 2022
                                </a>
                            </div>
                            <div class="blog-item__link">
                                <a href="#" class="blog-item__link">
                                    <img src="img/tag.svg" alt="">
                                    Wood
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item__content">
                        <h2 class="blog-item__heading">
                            Handmade pieces that took time to make
                        </h2>
                        <div class="blog-item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero enim sed faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis nunc sed blandit libero. Pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra et ultrices neque ornare aenean euismod elementum.</p>
                        </div>
                        <div class="blog-item__button-wrapper">
                            <a href="#" class="blog-item__button">
                                Read more
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="blog-inner__pagination blog-pagination">
                <ul class="blog-pagination__list">
                    <li class="blog-pagination__item">
                        <a href="#">1</a>
                    </li>
                    <li class="blog-pagination__item">
                        <a href="#">2</a>
                    </li>
                    <li class="blog-pagination__item">
                        <a href="#">3</a>
                    </li>
                    <li class="blog-pagination__item">
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>