/*=============== Billing ====================================================================================================================================================================*/

.billing {
    background-color: #fff;
}
.billing-wrapper {
    padding-top: 90px;
    @media (max-width: $break_768) {
        padding-top: 50px;
    }
}
.container {
}
.billing-inner {
}
.billing-form {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    @media (max-width: $break_768) {
        flex-direction: column;
        align-items: center;
    }

    // .billing-form__details

    &__details {
        max-width: 430px;
        width: 100%;

        margin-right: 40px;

        @media (max-width: $break_768) {
            margin-right: 0;
            margin-bottom: 50px;
        }

        .row {
            display: flex;
            align-items: center;
            margin: 0 -10px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        .block {
            width: 100%;
            padding: 0 10px;

            label {
                display: block;
                margin-bottom: 20px;
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                @media (max-width: $break_768) {
                    margin-bottom: 10px;
                    font-size: 14px;
                }
            }

            input {
                border-radius: 10px;
                border: 1px solid #9f9f9f;
                background: #fff;
                width: 100%;
                padding: 15px 10px;

                @media (max-width: $break_768) {
                    padding: 12px 10px;
                }
            }

            select {
                border-radius: 10px;
                border: 1px solid #9f9f9f;
                background: #fff;
                width: 100%;
                padding: 15px 10px;

                @media (max-width: $break_768) {
                    padding: 12px 10px;
                }

                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                background-image: url("data:image/svg+xml;utf8,<svg width='35' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 0L7 5L12 0L14 1L7 8L0 1L2 0Z' fill='black'/></svg>");
                background-repeat: no-repeat;
                background-position-x: right;
                background-position-y: center;
            }
        }
    }

    // .billing-form__product

    &__product {
        max-width: 530px;
        width: 100%;
    }
}
.billing-details {
    // .billing-details__title

    &__title {
        color: #000;
        font-size: 36px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 35px;

        @media (max-width: $break_768) {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}
.billing-product {
    // .billing-product__table

    .billing-product {
        // .billing-product__table

        &__table {
        }
    }

    // .billing-product__info

    &__info {
        color: #000;
        text-align: justify;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        b {
            font-weight: 700;
        }
        margin-bottom: 40px;

        @media (max-width: $break_768) {
            margin-bottom: 30px;
        }
    }

    // .billing-product__submit

    &__submit {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        @media (max-width: $break_768) {
            max-width: 220px;
        }
        button {
            color: #000;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            padding: 15px;
            background-color: #fff;
            border-radius: 15px;
            border: 1px solid #000;
            width: 100%;

            @media (max-width: $break_768) {
                padding: 10px;
                font-size: 16px;
            }

            overflow: hidden;
            position: relative;
            z-index: 0;

            transition:
                color 0.3s ease 0s,
                transform 0.3s ease 0s;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                width: 0;
                height: 100%;
                top: 0;
                right: 0;
                background-color: #000;
                transition: width 0.3s ease 0s;
                pointer-events: none;
            }

            &:hover {
                color: #fff;
                transform: scale(1.05);
                &:before {
                    left: 0;
                    width: 100%;
                }
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}

.billing-table {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 12px;

        @media (max-width: $break_768) {
            margin-bottom: 10px;
        }
    }
    // .billing-table__name

    &__name {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;

        @media (max-width: $break_768) {
            font-size: 22px;
        }
    }

    // .billing-table__list
    &__list {
        padding: 0;
        list-style-type: none;
        margin: 20px 0;
    }

    &__item {
        margin: 20px 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #d9d9d9;
    }

    // .billing-table__heading
    &__heading {
        color: #000;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;

        span {
            color: #9f9f9f;
            font-weight: 400;
        }
    }

    // .billing-table__subtotal

    &__subtotal {
        color: #000;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
    }

    // .billing-table__total

    &__total {
        color: #000;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;

        span {
            color: #b88e2f;
            font-size: 24px;
            font-weight: 700;

            @media (max-width: $break_768) {
                font-size: 22px;
            }
        }
    }
}

/*=============== /Billing ====================================================================================================================================================================*/
