/*=============== Banner ====================================================================================================================================================================*/

.banner {
    margin-top: 76px;
    @media (max-width: $break_992) {
        margin-top: 0;
    }
}
.banner-wrapper {
    position: relative;
    width: 100%;
}
.banner-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;

    @media (max-width: $break_1200) {
        padding: 75px 0;
    }

    @media (max-width: $break_992) {
        padding: 60px 0;
    }

    @media (max-width: $break_768) {
        padding: 50px 0;
    }
    // .banner-inner__logo

    &__logo {
        img {
            max-width: 47px;
            width: 100%;
        }
        height: 40px;
    }

    // .banner-inner__title

    &__title {
        color: #000;
        font-size: 48px;
        font-weight: 500;
        line-height: normal;

        @media (max-width: $break_768) {
            font-size: 40px;
        }
    }

    // .banner-inner__breadcrumbs

    &__breadcrumbs {
        a {
            text-decoration: none;
            display: inline-flex;
            align-items: center;

            color: #000;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;

            transition: color 0.3s ease 0s;

            &:after {
                content: ">";
                font-size: 30px;
                margin: 2px 5px 0 5px;
                font-weight: 400;
            }

            &:hover {
                color: #c67a00;
            }
        }

        span {
            color: #000;
            font-size: 16px;
            font-weight: 300;
            line-height: normal;
        }
    }
}

/*=============== /Banner ====================================================================================================================================================================*/
