<section class="products">
    <div class="products-wrapper">
        <div class="products-inner">
            <div class="products-inner__tab products-tab">
                <div class="products-tab__toolbar products-toolbar">
                    <div class="products-toolbar__wrapper">
                        <div class="products-toolbar__inner">
                            <button class="products-toolbar__close">
                                <img src="img/close.svg" alt="">
                            </button>
                            <h2 class="products-toolbar__heading">
                                Filter
                            </h2>
                            <div class="products-toolbar__section">
                                <div class="products-toolbar__categories">
                                    <h3 class="products-toolbar__categories-title products-toolbar__title">
                                        Product Categories
                                    </h3>
                                    <ul class="products-toolbar__categories-list">
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Accessories</a><span>(31)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Chairs</a><span>(8)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Coffee Table</a><span>(5)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Console</a><span>(3)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Dining</a><span>(4)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Display Racks</a><span>(8)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Indoor</a><span>(3)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Lamp</a><span>(1)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Mirror</a><span>(5)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">OutDoor</a><span>(8)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Side table</a><span>(2)</span>
                                        </li>
                                        <li class="products-toolbar__categories-item">
                                            <a href="#">Sofas</a><span>(18)</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="products-toolbar__price">
                                    <h3 class="products-toolbar__price-title products-toolbar__title">
                                        Price
                                    </h3>
                                    <div class="products-toolbar__range">
                                        <div class="slider">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="range-input">
                                            <input type="range" class="range-min" min="0" max="500000" value="50000" step="10">
                                            <input type="range" class="range-max" min="0" max="500000" value="300000" step="10">
                                        </div>
                                        <div class="price-input">
                                            <div class="field">
                                                <label for="range-min">Min</label>
                                                <input id="range-min" type="number" class="input-min" value="50000">
                                            </div>
                                            <div class="separator">-</div>
                                            <div class="field">
                                                <label for="range-max">Max</label>
                                                <input id="range-max" type="number" class="input-max" value="300000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="products-tab__tools products-tools">
                        <div class="products-tools__inner">
                            <div class="products-tools__left">
                                <div class="products-tools__filter">
                                    <button>
                                        <img src="img/filter.svg" alt="">
                                        Filter
                                    </button>
                                </div>
                                <div class="products-tools__grid">
                                    <button class="grid">
                                        <img src="img/grid.svg" alt="">
                                    </button>
                                    <button class="list">
                                        <img src="img/list.svg" alt="">
                                    </button>
                                </div>
                                <div class="products-tools__count">
                                    <span>Showing 1–16 of 32 results</span>
                                </div>
                            </div>
                            <form action="#" method="get" class="products-tools__form products-form">
                                <div class="products-form__row">
                                    <label for="products-form__show">
                                        Show
                                    </label>
                                    <select name="show" id="products-form__show">
                                        <option value="#">8</option>
                                        <option value="#">12</option>
                                        <option value="#">16</option>
                                        <option value="#">20</option>
                                        <option value="#">24</option>
                                    </select>
                                </div>
                                <div class="products-form__row">
                                    <label for="products-form__sort">
                                        Sort by
                                    </label>
                                    <select name="sort" id="products-form__sort">
                                        <option value="default" selected>Default sorting</option>
                                        <option value="popularity">Sort by popularity</option>
                                        <option value="latest">Sort by latest</option>
                                        <option value="price-asc">Sort by price: low to high</option>
                                        <option value="price-desc">Sort by price: high to low</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <ul class="products-inner__list products-list">
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product1.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Trenton modular sofa_3
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 25,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product2.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Granite dining table with dining chair
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 25,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product3.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Outdoor bar table and stool
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 25,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product4.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Plain console with teak mirror
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 25,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product5.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Grain coffee table
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 15,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product6.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Kent coffee table
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 225,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product7.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Round coffee table_color 2
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 251,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product8.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Reclaimed teak coffee table
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 25,200.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product9.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Plain console_
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 258,200.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product10.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Reclaimed teak Sideboard
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 20,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product11.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        SJP_0825
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 200,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product12.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Bella chair and table
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 100,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product13.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Granite square side table
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 258,800.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product14.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Asgaard sofa
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 250,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product15.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Maya sofa three seater
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 115,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item products-item">
                        <div class="products-item__wrapper">
                            <div class="products-item__image">
                                <a href="product.html">
                                    <img src="img/products/product16.png" alt="">
                                </a>
                            </div>
                            <div class="products-item__content">
                                <h2 class="products-item__heading">
                                    <a href="product.html">
                                        Outdoor sofa set
                                    </a>
                                </h2>
                                <div class="products-item__text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptate laboriosam porro repudiandae itaque, suscipit, quam provident accusantium nisi harum aspernatur iste at, ipsum corporis sapiente dicta. Necessitatibus, nihil et?
                                    </p>
                                </div>
                                <div class="products-item__price">
                                    Rs. 244,000.00
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="products-inner__pagination products-pagination">
                    <ul class="products-pagination__list">
                        <li class="products-pagination__item">
                            <a href="#">1</a>
                        </li>
                        <li class="products-pagination__item">
                            <a href="#">2</a>
                        </li>
                        <li class="products-pagination__item">
                            <a href="#">3</a>
                        </li>
                        <li class="products-pagination__item">
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>