<header class="header">
    <div class="header-bar"></div>
    <div class="container">
        <div class="header-inner">
            <div class="header-inner__logo header-logo">
                <a href="#">
                    #logo
                </a>
            </div>
            <nav class="header-inner__nav header-nav">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">Point 1</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Point 2</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Point 3</a>
                    </li>
                </ul>
            </nav>
            <button class="header-inner__burger header-burger">
                <span></span>
            </button>
        </div>
    </div>
</header>