<section class="hero">
    <div class="hero-wrapper">
        <div class="hero-swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <div class="slide-wrapper">
                        <div class="slide-bg ibg">
                            <img src="./img/main/main.png" alt="">
                        </div>
                        <div class="container">
                            <div class="slide-inner">
                                <h2 class="slide-title">
                                    Rocket single seater
                                </h2>
                                <div class="slide-button-wrapper">
                                    <a href="#" class="slide-button">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="slide-wrapper">
                        <div class="slide-bg ibg">
                            <img src="./img/main/main.png" alt="">
                        </div>
                        <div class="container">
                            <div class="slide-inner">
                                <h2 class="slide-title">
                                    Rocket single seater another word to that
                                </h2>
                                <div class="slide-button-wrapper">
                                    <a href="#" class="slide-button">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>