/*=============== Header ====================================================================================================================================================================*/

.header {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    transition:
        background-color 0.3s ease-in-out 0s,
        box-shadow 0.3s ease-in-out 0s;

    &._scroll-active {
        background-color: #fbebb5;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: $break_992) {
        top: unset;
        bottom: 0;

        border-top: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #fff;
        &._scroll-active {
            background-color: #fff;
            box-shadow: none;
        }
    }
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        img {
            display: block;
            max-width: 70px;
            min-width: 45px;
            width: 100%;
        }

        @media (max-width: $break_992) {
            display: none;
        }
    }
}

.header-nav {
    .menu {
        display: flex;
        align-items: center;
        padding: 0;
    }

    @media (max-width: $break_992) {
        display: none;
    }

    .menu-pages {
        a {
            color: #000;
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
            padding: 30px 35px;

            @media (min-width: $break_992) {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: #000;
                    pointer-events: none;
                    transition: width 0.3s ease 0s;
                }

                &:hover {
                    &:before {
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    .menu-icons {
        img {
            max-width: 24px;
            width: 100%;
            pointer-events: none;
            display: block;
        }
        a {
            color: #000;
            padding: 20px 20px;

            transition: transform 0.3s ease 0s;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    .menu-item {
        list-style-type: none;

        a {
            display: inline-block;
            text-decoration: none;
        }
    }
}

.mobile-nav {
    display: none;
    width: 100%;
    @media (max-width: $break_992) {
        display: block;
    }

    img {
        width: 30px;
        pointer-events: none;
        display: block;

        @media (max-width: $break_480) {
            width: 25px;
        }
    }

    .menu-item {
        list-style-type: none;
        a {
            padding: 15px;
            display: block;
            transition: transform 0.3s ease 0s;

            &:hover {
                transform: scale(1.15);
            }
            &:active {
                transform: scale(0.9);
            }
        }
    }
    .menu {
        flex: 1 1 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

._lock {
    overflow: hidden;
}

.toolbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);

    transition:
        background-color 0.3s ease 0s,
        left 0s ease 0.3s;

    &._active {
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);

        transition:
            background-color 0.3s ease 0s,
            left 0s ease 0s;

        .toolbar-inner {
            transform: translate(0, 0);
        }
    }
}
.toolbar-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.toolbar-inner {
    border-radius: 45px 0 0 45px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    max-width: 30%;
    min-width: 400px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 25px;

    transform: translateX(100%);
    transition: transform 0.3s ease 0s;

    @media (max-width: $break_1200) {
        border-radius: 35px 0 0 35px;
    }

    @media (max-width: $break_992) {
        border-radius: 30px 0 0 30px;
    }

    @media (max-width: $break_768) {
        border-radius: 25px 25px 0 0;
        padding: 20px;
        max-width: unset;
        min-width: unset;
        width: 100%;
        max-height: 85%;
        height: 100%;
        transform: translateY(100%);
    }

    @media (max-width: $break_480) {
        padding: 15px;
    }
}
.toolbar-close {
    position: absolute;
    top: 0;
    right: 0;

    background-color: transparent;
    border: none;
    padding: 25px;

    transition: transform 0.3s ease 0s;

    @media (max-width: $break_768) {
        padding: 20px;
    }

    @media (max-width: $break_480) {
        padding: 15px;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }

    img {
        display: block;
        width: 30px;
        pointer-events: none;
    }
}
.toolbar-section {
    display: none;

    &._active {
        display: block;
    }

    &__heading {
        color: #000;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;

        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 20px;
        margin-right: 50px;

        @media (max-width: $break_768) {
            padding-bottom: 15px;
            font-size: 22px;
        }

        @media (max-width: $break_480) {
            padding-bottom: 10px;
        }
    }

    &__nav {
        .menu {
            margin: 10px 0;
            padding: 0;
        }

        .menu-item {
            list-style-type: none;

            a {
                color: #000;
                font-size: 22px;
                line-height: initial;
                font-weight: 500;
                display: block;
                text-decoration: none;
                padding: 15px 10px;
                transition: background-color 0.2s ease 0s;

                

                &:hover {
                    background-color: #f8f8f8;
                }

                &:active {
                    background-color: #f0f0f0;
                }
            }

            &:not(:last-child) {
                a {
                    border-bottom: 1px solid #d9d9d9;
                }
            }
        }
    }
}

/*=============== /Header ====================================================================================================================================================================*/
