<section class="arrivals">
    <div class="arrivals-wrapper">
        <div class="arrivals-inner">
            <div class="arrivals-inner__image">
                <img src="img/arrivals/item.png" alt="">
            </div>
            <div class="arrivals-inner__content">
                <h4 class="arrivals-inner__title">
                    New Arrivals
                </h4>
                <h2 class="arrivals-inner__heading">
                    Asgaard sofa
                </h2>
                <div class="arrivals-inner__button-wrapper">
                    <a href="#" class="arrivals-inner__button">
                        Order Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>