<section class="charge">
    <div class="charge-wrapper">
        <div class="container">
            <div class="charge-inner">
                <ul class="charge-inner__list charge-list">
                    <li class="charge-list__item charge-item">
                        <h3 class="charge-item__heading">
                            Free Delivery
                        </h3>
                        <div class="charge-item__text">
                            <p>For all oders over $50, consectetur adipim scing elit.</p>
                        </div>
                    </li>
                    <li class="charge-list__item charge-item">
                        <h3 class="charge-item__heading">
                            90 Days Return
                        </h3>
                        <div class="charge-item__text">
                            <p>If goods have problems, consectetur adipim scing elit.</p>
                        </div>
                    </li>
                    <li class="charge-list__item charge-item">
                        <h3 class="charge-item__heading">
                            Secure Payment
                        </h3>
                        <div class="charge-item__text">
                            <p>100% secure payment, consectetur adipim scing elit.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>