<aside class="main-sidebar blog-sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-search">
            <form action="#" class="sidebar-search__form">
                <div class="row">
                    <div class="block">
                        <input type="text" name="search" id="search">
                    </div>
                </div>
            </form>
        </div>
        <div class="sidebar-categories">
            <h3 class="sidebar-categories__title sidebar-title">
                Categories
            </h3>
            <ul class="sidebar-categories__list">
                <li class="sidebar-categories__list-item sidebar-categories__item">
                    <a href="#">
                        <h4 class="sidebar-categories__item-name">
                            Crafts
                        </h4>
                        <div class="sidebar-categories__item-count">
                            2
                        </div>
                    </a>
                </li>
                <li class="sidebar-categories__list-item sidebar-categories__item">
                    <a href="#">
                        <h4 class="sidebar-categories__item-name">
                            Design
                        </h4>
                        <div class="sidebar-categories__item-count">
                            8
                        </div>
                    </a>
                </li>
                <li class="sidebar-categories__list-item sidebar-categories__item">
                    <a href="#">
                        <h4 class="sidebar-categories__item-name">
                            Handmade
                        </h4>
                        <div class="sidebar-categories__item-count">
                            7
                        </div>
                    </a>
                </li>
                <li class="sidebar-categories__list-item sidebar-categories__item">
                    <a href="#">
                        <h4 class="sidebar-categories__item-name">
                            Interior
                        </h4>
                        <div class="sidebar-categories__item-count">
                            1
                        </div>
                    </a>
                </li>
                <li class="sidebar-categories__list-item sidebar-categories__item">
                    <a href="#">
                        <h4 class="sidebar-categories__item-name">
                            Wood
                        </h4>
                        <div class="sidebar-categories__item-count">
                            6
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-recent">
            <h3 class="sidebar-recent__title sidebar-title">
                Recent Posts
            </h3>
            <ul class="sidebar-recent__list">
                <li class="sidebar-recent__list-item sidebar-recent__item">
                    <div class="sidebar-recent__item-image">
                        <a href="post.html" class="ibg">
                            <img src="img/blog/item4.jpg" alt="">
                        </a>
                    </div>
                    <div class="sidebar-recent__item-content">
                        <h4 class="sidebar-recent__item-heading">
                            Going all-in with millennial design
                        </h4>
                        <div class="sidebar-recent__item-date">
                            <a href="#">03 Aug 2022</a>
                        </div>
                    </div>
                </li>
                <li class="sidebar-recent__list-item sidebar-recent__item">
                    <div class="sidebar-recent__item-image">
                        <a href="post.html" class="ibg">
                            <img src="img/blog/item5.jpg" alt="">
                        </a>
                    </div>
                    <div class="sidebar-recent__item-content">
                        <h4 class="sidebar-recent__item-heading">
                            Exploring new ways of decorating
                        </h4>
                        <div class="sidebar-recent__item-date">
                            <a href="#">03 Aug 2022</a>
                        </div>
                    </div>
                </li>
                <li class="sidebar-recent__list-item sidebar-recent__item">
                    <div class="sidebar-recent__item-image">
                        <a href="post.html" class="ibg">
                            <img src="img/blog/item6.jpg" alt="">
                        </a>
                    </div>
                    <div class="sidebar-recent__item-content">
                        <h4 class="sidebar-recent__item-heading">
                            Handmade pieces that took time to make
                        </h4>
                        <div class="sidebar-recent__item-date">
                            <a href="#">03 Aug 2022</a>
                        </div>
                    </div>
                </li>
                <li class="sidebar-recent__list-item sidebar-recent__item">
                    <div class="sidebar-recent__item-image">
                        <a href="post.html" class="ibg">
                            <img src="img/blog/item7.jpg" alt="">
                        </a>
                    </div>
                    <div class="sidebar-recent__item-content">
                        <h4 class="sidebar-recent__item-heading">
                            Modern home in Milan
                        </h4>
                        <div class="sidebar-recent__item-date">
                            <a href="#">03 Aug 2022</a>
                        </div>
                    </div>
                </li>
                <li class="sidebar-recent__list-item sidebar-recent__item">
                    <div class="sidebar-recent__item-image">
                        <a href="post.html" class="ibg">
                            <img src="img/blog/item8.jpg" alt="">
                        </a>
                    </div>
                    <div class="sidebar-recent__item-content">
                        <h4 class="sidebar-recent__item-heading">
                            Colorful office redesign
                        </h4>
                        <div class="sidebar-recent__item-date">
                            <a href="#">
                                03 Aug 2022
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>