<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webshop</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/options.css">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="css/shop.css">

    <link rel="stylesheet" href="css/product.css">

    <link rel="stylesheet" href="css/profile.css">
    
    <link rel="stylesheet" href="css/checkout.css">
    
    <link rel="stylesheet" href="css/cart.css">
    
    <link rel="stylesheet" href="css/contact.css">
    
    <link rel="stylesheet" href="css/blog.css">

    <script defer src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script defer src="js/StickySidebar.js"></script>
    <script defer src="js/main.js"></script>
</head>