<section class="banner">
    <div class="banner-wrapper">
        <div class="banner-bg ibg">
            <img src="img/banner/bg.png" alt="">
        </div>
        <div class="container">
            <div class="banner-inner">
                <h2 class="banner-inner__title">
                    Our Instagram
                </h2>
                <div class="banner-inner__text">
                    <p>Follow our store on Instagram</p>
                </div>
                <div class="banner-inner__button-wrapper">
                    <a href="#" class="banner-inner__button">
                        Follow Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>