<section class="blogs">
    <div class="blogs-wrapper">
        <div class="container">
            <div class="blogs-inner">
                <h2 class="blogs-inner__title">
                    Our Blogs
                </h2>
                <div class="blogs-inner__text">
                    <p>Find a bright ideal to suit your taste with our great selection</p>
                </div>
                <ul class="blogs-inner__list blogs-list">
                    <li class="blogs-list__item blogs-item">
                        <div class="blogs-item__image">
                            <a href="post.html" class="ibg">
                                <img src="img/blogs/item1.jpg" alt="">
                            </a>
                        </div>
                        <h4 class="blogs-item__heading">
                            Going all-in with millennial design
                        </h4>
                        <div class="blogs-item__button-wrapper">
                            <a href="post.html" class="blogs-item__button">
                                Read More
                            </a>
                        </div>
                        <div class="blogs-item__description">
                            <span>
                                <img src="img/time.svg" alt="">
                                5 min
                            </span>
                            <span>
                                <img src="img/date.svg" alt="">
                                12th Oct 2022
                            </span>
                        </div>
                    </li>
                    <li class="blogs-list__item blogs-item">
                        <div class="blogs-item__image">
                            <a href="post.html" class="ibg">
                                <img src="img/blogs/item2.jpg" alt="">
                            </a>
                        </div>
                        <h4 class="blogs-item__heading">
                            Going all-in with millennial design
                        </h4>
                        <div class="blogs-item__button-wrapper">
                            <a href="post.html" class="blogs-item__button">
                                Read More
                            </a>
                        </div>
                        <div class="blogs-item__description">
                            <span>
                                <img src="img/time.svg" alt="">
                                5 min
                            </span>
                            <span>
                                <img src="img/date.svg" alt="">
                                12th Oct 2022
                            </span>
                        </div>
                    </li>
                    <li class="blogs-list__item blogs-item">
                        <div class="blogs-item__image">
                            <a href="post.html" class="ibg">
                                <img src="img/blogs/item3.jpg" alt="">
                            </a>
                        </div>
                        <h4 class="blogs-item__heading">
                            Going all-in with millennial design
                        </h4>
                        <div class="blogs-item__button-wrapper">
                            <a href="post.html" class="blogs-item__button">
                                Read More
                            </a>
                        </div>
                        <div class="blogs-item__description">
                            <span>
                                <img src="img/time.svg" alt="">
                                5 min
                            </span>
                            <span>
                                <img src="img/date.svg" alt="">
                                12th Oct 2022
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="blogs-inner__button-wrapper">
                    <a href="blog.html" class="blogs-inner__button">
                        View All Post
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>