<section class="inst">
    <div class="inst-wrapper">
        <div class="inst-bg ibg">
            <img src="img/inst/bg.png" alt="">
        </div>
        <div class="container">
            <div class="inst-inner">
                <h2 class="inst-inner__title">
                    Our Instagram
                </h2>
                <div class="inst-inner__text">
                    <p>Follow our store on Instagram</p>
                </div>
                <div class="inst-inner__button-wrapper">
                    <a href="#" class="inst-inner__button">
                        Follow Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>