<section class="offer">
    <div class="offer-wrapper">
        <div class="container">
            <div class="offer-inner">
                <ul class="offer-inner__list offer-list">
                    <li class="offer-list__item offer-item">
                        <div class="offer-item__wrapper">
                            <div class="offer-item__image">
                                <img src="./img/offer/item1.png" alt="">
                            </div>
                            <h3 class="offer-item__heading">
                                Side table
                            </h3>
                            <div class="offer-item__button-wrapper">
                                <a href="shop.html" class="offer-item__button">
                                    View More
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="offer-list__item offer-item">
                        <div class="offer-item__wrapper">
                            <div class="offer-item__image">
                                <img src="./img/offer/item2.png" alt="">
                            </div>
                            <h3 class="offer-item__heading">
                                Double sofa
                            </h3>
                            <div class="offer-item__button-wrapper">
                                <a href="shop.html" class="offer-item__button">
                                    View More
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>