<section class="picks">
    <div class="picks-wrapper">
        <div class="container">
            <div class="picks-inner">
                <h2 class="picks-inner__title">
                    Top Picks For You
                </h2>
                <div class="picks-inner__text">
                    <p>Find a bright ideal to suit your taste with our great selection of suspension, floor and table lights.</p>
                </div>
                <ul class="picks-inner__list picks-list">
                    <li class="picks-list__item picks-item">
                        <div class="picks-item__wrapper">
                            <div class="picks-item__image">
                                <img src="./img/picks/item1.png" alt="">
                            </div>
                            <h4 class="picks-item__heading">
                                Trenton modular sofa_3
                            </h4>
                            <div class="picks-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                    <li class="picks-list__item picks-item">
                        <div class="picks-item__wrapper">
                            <div class="picks-item__image">
                                <img src="./img/picks/item2.png" alt="">
                            </div>
                            <h4 class="picks-item__heading">
                                Granite dining table with dining chair
                            </h4>
                            <div class="picks-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                    <li class="picks-list__item picks-item">
                        <div class="picks-item__wrapper">
                            <div class="picks-item__image">
                                <img src="./img/picks/item3.png" alt="">
                            </div>
                            <h4 class="picks-item__heading">
                                Outdoor bar table and stool
                            </h4>
                            <div class="picks-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                    <li class="picks-list__item picks-item">
                        <div class="picks-item__wrapper">
                            <div class="picks-item__image">
                                <img src="./img/picks/item4.png" alt="">
                            </div>
                            <h4 class="picks-item__heading">
                                Plain console with teak mirror
                            </h4>
                            <div class="picks-item__text">
                                <p>Rs. 25,000.00</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="picks-inner__button-wrapper">
                    <a href="#" class="picks-inner__button">
                        View More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>